<manifest package="plugin.library" xmlns:android="http://schemas.android.com/apk/res/android">

    <application/>

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.LOCATION" />
</manifest>
